$theme-color-dark: black;
$theme-color-light: black;
$papero-color-dark: orange;
$papero-color-light: orange;

html{
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
}


