$theme-color-dark: #010136;
$theme-color-light: #3280f3;
$anti-theme-color: #dcd87d;

html{
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}
