$theme-color-dark: #16ff00;
$theme-color-light: #0026e7;
$anti-theme-color: #ffffff;

html{
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: small-caps;
  font-size: 150%;
  width: 100%;
  height: 100%;
}


